@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<head>
  <title>Chat</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/jquery.signalR-2.2.0.js"></script>
  <script src="/signalr/hubs"></script>
  <script src="/js/chat.js"></script>
</head>
<button onclick="test()">asasas</button>
<script>
  
</script>